.delete-btn,
.edit-btn {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

.MuiDataGrid-row {
  position: relative;
  overflow: visible;

  .action-container {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    .action-container {
      opacity: 1;
    }
  }
}
