.delete-btn,
.edit-btn {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

.MuiDataGrid-row {
  position: relative;
  overflow: visible;

  .action-container {
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    .action-container {
      opacity: 1;
    }
  }

  .post-content {
    margin: 10px 0px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    font-size: 14px;
  }
}
